{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ SITE_NAME }}{% endblock %}

{% block body %}
    <div class="main">
		<div class="header" >
			<h1>注册新用户</h1>
		</div>
		<p></p>
			<form action="{% url 'reg' %}" method="post">
                {% csrf_token %}
				<ul class="left-form">
					<h2></h2>
					<li>
						{{ reg_form.username }}
						<div style="height:20px"> </div>
					</li>
                    <li>
						{{ reg_form.password }}
						<div style="height: 20px"> </div>
					</li>
                    <!--获取当前页面url-->
                    <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">
					<input type="submit" value="注册并登录">
					<div class="clear"> </div>
				</ul>
				<div class="clear"> </div>
			</form>
	</div>


{% endblock %}